@media (min-width: 1200px) {
    .modal-xxl {
        max-width: 1140px;
    }
    @media (min-width: 1700px) {
        .modal-xl {
            max-width: 1140px;
        }
        .modal-xxl {
            max-width: 1680px;
        }
    }
}

#emcModal {
    --inactive-help-color: gray;
    --help-color: #007bff;
    --help-color-hover: red;
    --init-error-text: darkred;
}

/* Loading */

.emc-overlay {
    background: rgba(128, 128, 128, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.emc-loading,
.emc-initerror {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.emc-initerror {
    text-align: center;
    z-index: 5;
}
.emc-initerror p {
    font-size: 1.5rem;
    color: val(--init-error-text);
}

.emc-modal-wrapper {
    position: relative;
}


/* Modal Title */

.emc-module-name,
.emc-project-name {
    font-weight: bold;
}
.emc-project-info {
    font-size: 1rem;
}
.emc-module-version {
    vertical-align: top;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: normal;
}

/* Main Tabs */

.modal-body.emc-tabs-body {
    overflow: hidden;
    padding-bottom: 0;
    min-height: 52px;
}
.tab-content.emc-tabs,
.tab-content.emc-subtabs {
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0;
    margin-left: -2em;
    margin-right: -2em;
}

.emc-panels-body {
    border: none;
    margin: 1rem 0;
    padding: 0 1rem;
    margin-right: 5px;
}

.emc-modal-body {
    min-height: 200px;
}

/* Modal Footer */




/* Tabs and Tab Panels */


.nav-tabs.emc-tabs,
.nav-tabs.emc-subtabs {
    border-bottom: none;
}
.emc-tab-help {
    color: var(--inactive-help-color);
    padding-left: 2px;
}
a.active .emc-tab-help {
    color: var(--help-color);
}
a.active .emc-tab-help:hover {
    color: var(--help-color-hover);
}
a.emc-tab-link {
    color: var(--blue);
}
a.active.emc-tab-link {
    font-weight: bolder;
    color: var(--gray-dark);
}
a.emc-tab-link:hover {
    color: var(--red);
}
.tab-content.emc-tab-container,
.tab-content.emc-subtab-container {
    border: none;
    /* border-top: 1px solid #ddd; */
    min-height: 200px;
    padding-top: 0;
}

.emc-nosettings {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    color: var(--init-error-text);
    font-style: italic;
    font-size: 1.2rem;
}




/* Settings - General */

.emc-branching-hidden {
    background-color: red;
    /* display: none; */
}

.emc-from-group.form-group {
    margin-bottom: 0;
}
.emc-modal-header.modal-header {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.emc-setting-label {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: bold;
}
.emc-setting-description {
    margin-top: -0.1rem;
    margin-bottom: 0;
    font-size: 0.8rem;
}
a.emc-setting-help {
    color: var(--help-color);
}
a.emc-setting-help:hover {
    color: var(--help-color-hover);
}
.emc-setting-field {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.emc-setting-field-indent {
    border-left: 10px lightgray solid;
    padding: 1px 0 1px 10px;
}

.emc-control {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

/* Settings - Controls - General */

.emc-vtop {
    display: flex;
    align-items: start;
}
.emc-clear:hover {
    color: var(--red);
}
.emc-textarea {
    min-height: 38px;
    overflow-y: hidden;
}
.emc-prepend-text {
    justify-content: center;
}


/* Repeat toolbar */

.emc-norepeats-text {
    font-style: italic;
    font-size: 0.8rem;

}
.emc-repeat-buttons {
    opacity: 0.65;
}
.emc-repeat-button {
    margin: 2px;
}
.emc-hrepeat-handle {
    cursor: all-scroll;
}
.emc-vrepeat-handle {
    cursor: ns-resize;
    padding-top: 0.65rem;
}
.emc-add-instance {
    margin: 0.5rem 1rem 0 0.5rem;
}
.emc-repeat-add-label {
    vertical-align: middle;
    padding-left: 0.3rem;
}

/* Settings - Specific Controls */

/* Repeating Subsettings */
.emc-subrepeat-button,
.emc-subrepeat-delete {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    min-width: 4.25em;
}
.emc-subrepeat-button:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}
.emc-subrepeat-buttonlabel {
    padding-left: 0.5em;
}
.emc-subrepeat-header {
    overflow-x: hidden;
}

/* Switch */
.emc-switch-control {
    margin-top: -0.5rem; 
    padding-left: 3rem;
}

.emc-prepend-json {
    font-size: 0.8em;
    line-height: 1em;
    padding-top: 1.25em;
}


/* Subsetting Header */

.emc-subrepeat-header {
    height: auto;
    padding-bottom: 0;
}
.emc-subrepeat-header .emc-setting {
    background-color: #eeeeee;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}
.emc-subrepeat-header .emc-setting-label {
    margin-top: 0;
}
.emc-subrepeat-parent {
    margin-left: -0.4em;
}
a.emc-subrepeat-parent-link {
    text-decoration: none;
}

.emc-subrepeat-parent-instance {
    margin-right: 0.3em;
    font-size: 0.9em;
}

/* .emc-subrepeat-body {
    margin-top: 0;
} */



#emcModal .settings-label label {
    margin: 0;
}
#emcModal .settings-help {
    float: right;
}


.modal-help {
    padding-top: 20px;
    padding-bottom: 20px;
}
.modal-help .modal-header {
    padding-top: 5px;
    padding-bottom: 8px;
}
.modal-help .close {
    font-weight: 500;
    width: auto;
    height: auto;
}
.close:focus {
    outline: none;
}

.repeatable-list {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.repeatable-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.repeatable-side {
    background-color: #eeeeee;
    width: 1.9rem;
    text-align: center;
    vertical-align: top;
    padding-top: 0.3rem;
}

.repeatable-item {
    padding-left: 0.5rem;
}

.subsettings-label {
    margin-top: 0.2rem;
    margin-bottom: 0;
    font-weight: bold;
}
.subsettings-label label {
    margin: 0;
}


.import-export {
    position: absolute; 
    left: 1em;
}

.single-repeatable-side {
    background-color: #eeeeee;
    width: 1.9rem;
    text-align: center;
}
.single-repeatable-add {
    font-size: 1.5rem;
}
.subsettings-edit-crumbs {
    background-color: #eeeeee;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}
.subsettings-edit {
    margin: 0.5rem;
}

.system-history-container {
    margin-top: 1.5rem;
}
.system-history-container table {
    margin-bottom: 0;
}

#system-history-list {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

