@media (min-width: 1200px) {
    .modal-xxl {
        max-width: 1140px;
    }
    @media (min-width: 1700px) {
        .modal-xl {
            max-width: 1140px;
        }
        .modal-xxl {
            max-width: 1680px;
        }
    }
}

#emcModal {
    --inactive-help-color: gray;
    --help-color: #007bff;
    --help-color-hover: red;
    --init-error-text: darkred;
}

/* Loading */

.emc-overlay {
    background: rgba(128, 128, 128, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.emc-loading,
.emc-initerror {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.emc-initerror {
    text-align: center;
    z-index: 5;
}
.emc-initerror p {
    font-size: 1.5rem;
    color: val(--init-error-text);
}

.emc-modal-wrapper {
    position: relative;
}


/* Modal Title */

.emc-module-name,
.emc-project-name {
    font-weight: bold;
}
.emc-project-info {
    font-size: 1rem;
}
.emc-module-version {
    vertical-align: top;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: normal;
}


/* Modal Body */

.emc-modal-body {
    min-height: 200px;
    padding-top: 0.5rem;
}

/* Modal Footer */




/* Tabs and Tab Panels */
.nav-tabs.emc-tabs {
    border-bottom: none;
}
.emc-tab-help {
    color: var(--inactive-help-color);
    padding-left: 2px;
}
a.active .emc-tab-help {
    color: var(--help-color);
}
a.active .emc-tab-help:hover {
    color: var(--help-color-hover);
}
a.emc-tab-link {
    color: var(--blue);
}
a.active.emc-tab-link {
    font-weight: bolder;
    color: var(--gray-dark);
}
a.emc-tab-link:hover {
    color: var(--red);
}
.tab-content.emc-tab-container {
    border: none;
    border-top: 1px solid #ddd;
    min-height: 200px;
}

.emc-nosettings {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    color: var(--init-error-text);
    font-style: italic;
    font-size: 1.2rem;
}




/* Settings - General */

.emc-from-group.form-group {
    margin-bottom: 0;
}
.emc-modal-header.modal-header {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.emc-setting-label {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: bold;
}
.emc-setting-description {
    margin-top: -0.1rem;
    margin-bottom: 0;
    font-size: 0.8rem;
}
a.emc-setting-help {
    color: var(--help-color);
}
a.emc-setting-help:hover {
    color: var(--help-color-hover);
}
.emc-setting-field {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}




/* Settings - Specific Controls */

/* Switch */
.emc-switch-control {
    margin-top: -0.75rem;
}







#emcModal .settings-label label {
    margin: 0;
}
#emcModal .settings-help {
    float: right;
}


.modal-help {
    padding-top: 20px;
    padding-bottom: 20px;
}
.modal-help .modal-header {
    padding-top: 5px;
    padding-bottom: 8px;
}
.modal-help .close {
    font-weight: 500;
    width: auto;
    height: auto;
}
.close:focus {
    outline: none;
}

.repeatable-list {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.repeatable-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.repeatable-side {
    background-color: #eeeeee;
    width: 1.9rem;
    text-align: center;
    vertical-align: top;
    padding-top: 0.3rem;
}

.repeatable-item {
    padding-left: 0.5rem;
}

.subsettings-label {
    margin-top: 0.2rem;
    margin-bottom: 0;
    font-weight: bold;
}
.subsettings-label label {
    margin: 0;
}


.import-export {
    position: absolute; 
    left: 1em;
}

.single-repeatable-side {
    background-color: #eeeeee;
    width: 1.9rem;
    text-align: center;
}
.single-repeatable-add {
    font-size: 1.5rem;
}
.subsettings-edit-crumbs {
    background-color: #eeeeee;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}
.subsettings-edit {
    margin: 0.5rem;
}

.system-history-container {
    margin-top: 1.5rem;
}
.system-history-container table {
    margin-bottom: 0;
}

#system-history-list {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

